body  {
  background-color:#DAF7A6;
 }

h1  {
  color:navy;
  font-size:40px;
  text-align:center;
 }

h2  {
  color:steelblue;
  font-size:25px;
 }

h3  {
  color:steelblue;
  font-size:25px;
 }

h4  {
  color:steelblue;
  font-size:25px;
 }

h5  {
  color:steelblue;
  font-size:25px;
 }
address  {
  background-color:whitesmoke;
 }
